	.row { margin: 0 !important; }
	.form-group { margin: 0 !important; }

	.flex { display: -webkit-flex; display: flex; }

	.flex-column { -webkit-flex-direction: column; flex-direction: column; }

	.flex-wrap { flex-wrap: wrap; }

	.flex-align-center { align-items: center; }
	.flex-justify-center { justify-content: center; }
	.flex-center { align-items: center; justify-content: center; }
	.flex-justify-between { justify-content: space-between; }
	.flex-justify-around { justify-content: space-around; }